@charset "utf-8";

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');


/***** common *****/
/*** -Mobile UI- ***/
.water-purifiers_202107 {font-family:'Noto Sans KR','Source Sans Pro',Arial,sans-serif;color:#222;font-size:16px;line-height:24px;letter-spacing:-0.2px;}
.water-purifiers_202107 * {word-wrap:break-word;word-break:keep-all;white-space:normal;}
.water-purifiers_202107 .hidden {position:absolute !important;width:1px !important;height:1px !important;clip:rect(1px,1px,1px,1px);word-break:initial;overflow:hidden;z-index:-1;}
.water-purifiers_202107 .only_pc {display:none;}
.water-purifiers_202107 .only_pc_txt {display:none;}
.water-purifiers_202107 .only_m {display:block;}
.water-purifiers_202107 img {max-width:100%;margin:0 auto;}
.water-purifiers_202107 .ico_ani {display:block;position:absolute;left:0;top:0;width:100%;height:100%;}
.water-purifiers_202107 .ico_ani img {display:none;position:absolute;left:0;top:0;width:100%;height:100%;}
.water-purifiers_202107 .animate.active .ico_ani img {display:block;}

/* feature_cont */
.water-purifiers_202107 .section_cont {position:relative;}
.water-purifiers_202107 .section_cont.bg {background:#f7f7f7;}
.water-purifiers_202107 .feature_cont {position:relative;padding:70px 25px 20px 25px;box-sizing:border-box;}

/* btn_go_info */
.water-purifiers_202107 sup {display:inline-block;vertical-align:top;}
.water-purifiers_202107 a.btn_go_info {display:inline-block;position:relative;height:22px;margin-left:4px;color:#999;font-size:10px;line-height:19px;vertical-align:top;}


/*** -Tablet UI- ***/

@media only screen and (min-width:768px) {
.water-purifiers_202107 {font-size:18px;line-height:26px;}
.water-purifiers_202107 .only_pc {display:block;}
.water-purifiers_202107 .only_m {display:none;}
	
/* feature_cont */
.water-purifiers_202107 .feature_cont {padding:140px 40px 0 40px;}
	
/* btn_go_info */
.water-purifiers_202107 a.btn_go_info {height:25px;font-size:11px;line-height:20px;transition:color 0.4s;}
.water-purifiers_202107 a.btn_go_info:hover {color:#da0f47;}
}

@media only screen and (min-width:950px) {
.water-purifiers_202107 .only_pc_txt {display:block;}
}


/*** -PC UI- ***/
@media only screen and (min-width:1280px) {
.water-purifiers_202107 {font-size:20px;line-height:30px;}
.water-purifiers_202107 .section_cont {margin:0 auto;}
.water-purifiers_202107 .feature_cont {max-width:1460px;margin:0 auto;}
.water-purifiers_202107 .feature_cont.resp {max-width:100%;padding-right:0;padding-left:0;}
.water-purifiers_202107 .feature_cont.resp .img_resp {margin-right:0;margin-left:0;}

/* btn_go_info */
.water-purifiers_202107 a.btn_go_info {height:28px;font-size:12px;line-height:20px;}
}











/**** Title ****/
.water-purifiers_202107 .title {position:relative;text-align:center;}
.water-purifiers_202107 .eyebrow {position:relative;margin:-5px 0 10px 0;color:#767676;font-size:16px;font-weight:700;line-height:24px;overflow:hidden;}
.water-purifiers_202107 .eyebrow span {display:block;position:relative;}
.water-purifiers_202107 .tit {position:relative;left:-2px;font-size:31px;font-weight:bold;line-height:42px;letter-spacing:-0.8px;overflow:hidden;}
.water-purifiers_202107 .tit span {display:block;position:relative;}
.water-purifiers_202107 .desc {position:relative;margin-top:15px;}
.water-purifiers_202107 .btn_cat {margin-top:17px;}
.water-purifiers_202107 .btn_cat a {display:inline-block;padding:6px 15px 7px 15px;border:1px solid #222;border-radius:50px;box-sizing:border-box;color:#222;font-size:13px;line-height:20px;}


/** -Tablet UI- **/
@media only screen and (min-width:768px) {
.water-purifiers_202107 .title {margin:0 auto;text-align:center;}
.water-purifiers_202107 .eyebrow {margin-bottom:10px;font-size:20px;line-height:28px;}
.water-purifiers_202107 .tit {left:0;font-size:40px;line-height:56px;}
.water-purifiers_202107 .desc {margin-top:20px;}
.water-purifiers_202107 .btn_cat {margin-top:40px;text-align:center;}
.water-purifiers_202107 .btn_cat a {padding:10px 40px;border-radius:50px;transition:background 0.4s, color 0.4s;}
.water-purifiers_202107 .btn_cat a:hover {background-color:#222;color:#fff;}
}


/** -PC UI- **/
@media only screen and (min-width:1280px) {
.water-purifiers_202107 .eyebrow {margin-bottom:14px;font-size:24px;line-height:32px;}
.water-purifiers_202107 .tit {font-size:52px;line-height:70px;}
.water-purifiers_202107 .desc {margin-top:28px;}
}










/***** Contents : Box Type *****/
.water-purifiers_202107 .box + .title {margin-top:30px;}
.water-purifiers_202107 .img {position:relative;margin:38px -25px 0 -25px;}
.water-purifiers_202107 .img.not_round {border-radius:0;}
.water-purifiers_202107 .img_resp {position:relative;margin:38px -25px 0 -25px;text-align:center;overflow:hidden;}
.water-purifiers_202107 video {display:block;width:100%;}
.water-purifiers_202107 .box_area {min-height:300px;margin-top:38px;background:#000;color:#fff;text-align:center;line-height:300px;}



/** -Tablet UI- **/
@media only screen and (min-width:768px) {
.water-purifiers_202107 .box + .title {margin-top:42px;}
.water-purifiers_202107 .img {margin:42px 0 0 0;border-radius:15px;}
.water-purifiers_202107 .img_resp {margin:42px -40px 0 -40px;}
.water-purifiers_202107 .box_area {min-height:400px;margin-top:42px;line-height:400px;}
}


/** -PC UI- **/
@media only screen and (min-width:1280px) {
.water-purifiers_202107 .box + .title {margin-top:45px;}
.water-purifiers_202107 .img {margin-top:45px;border-radius:20px;}
.water-purifiers_202107 .img_resp {margin-top:45px;}
.water-purifiers_202107 .box_area {min-height:500px;margin-top:45px;line-height:500px;}
}








/***** Main *****/
.water-purifiers_202107 .section_cont.main {background:#fdfaf4 url("./img_scene00_bg.jpg") left bottom /auto 100% repeat-x;}
.water-purifiers_202107 .section_cont.main .feature_cont {margin:0;padding:0;}









/***** Disclaimer *****/
.water-purifiers_202107 .disclaimer_info {position:relative;padding-bottom:46px;color:#888;font-size:13px;line-height:21px;}
.water-purifiers_202107 .disclaimer_info .li {position:relative;margin-top:24px;}
.water-purifiers_202107 .disclaimer_info .li:first-child {margin-top:0;}
.water-purifiers_202107 .disclaimer_info .li > strong {display:block;padding-left:13px;font-weight:normal;} 
.water-purifiers_202107 .disclaimer_info .li > strong em {position:absolute;left:0;top:0;}
.water-purifiers_202107 .disclaimer_info .li:nth-child(n + 10) > strong {padding-left:19px;} 
.water-purifiers_202107 .disclaimer_info .li ul {margin-top:4px;}
.water-purifiers_202107 .disclaimer_info .li li {position:relative;margin-top:4px;padding-left:12px;}
.water-purifiers_202107 .disclaimer_info .li li:first-child {margin-top:0;}
.water-purifiers_202107 .disclaimer_info .li li:before {position:absolute;left:5px;top:11px;width:4px;height:1px;background:#888;content:"";}
.water-purifiers_202107 .disclaimer_info .li p {position:relative;padding-left:16px;}
.water-purifiers_202107 .disclaimer_info .li p em {position:absolute;left:0;top:0;}
/*.water-purifiers_202107 .disclaimer_info.animate {opacity:0;transition:opacity 0.6s 0s;}
.water-purifiers_202107 .disclaimer_info.active {opacity:1;transition-delay:0.1s;}*/

/** -Tablet UI- **/
@media only screen and (min-width:768px) {
}


/** -PC UI- **/
@media only screen and (min-width:1280px) {
}










/***** Swiper *****/
/** Common **/
.water-purifiers_202107 .slide {position:relative;}
.water-purifiers_202107 .slide .swiper-notification {position:absolute !important;width:1px !important;height:1px !important;clip:rect(1px,1px,1px,1px);word-break:initial;overflow:hidden;z-index:-1;}
.water-purifiers_202107 .swiper-container {position:relative;overflow:hidden;}
.water-purifiers_202107 .swiper-wrapper {display:flex;position:relative;width:100%;height:100%;background:#fff;transition-property:transform;box-sizing:content-box;cursor:grab;z-index:1;}
.water-purifiers_202107 .swiper-container-autoheight .swiper-wrapper {align-items:flex-start;transition-property:transform,height;height:auto !important;}
.water-purifiers_202107 .swiper-slide {flex-shrink:0;position:relative;width:100%;height:100%;transition-property:transform;box-sizing:border-box;}
.water-purifiers_202107 .swiper-container-fade .swiper-slide {pointer-events:none;transition-property:opacity;}
.water-purifiers_202107 .swiper-container.swiper-container-initialized .swiper-page-wrap {display:block;}

.water-purifiers_202107 .swiper-pagination {position:relative;display:block;width:100%;height:8px;font-size:0;text-align:center;overflow:hidden;z-index:4;}
.water-purifiers_202107 .swiper-pagination-bullet {display:inline-block;position:relative;width:8px;height:8px;margin:0 4px;background-color:#aaa !important;border-radius:4px;vertical-align:top;overflow:hidden;transition:padding 0.4s;}
.water-purifiers_202107 .swiper-pagination-bullet.swiper-pagination-bullet-active {padding:0 9px;background:#da0f47 !important;}
.water-purifiers_202107 .swiper-arrow {position:absolute;left:0;top:50%;width:30px;height:55px;margin-top:-28px;background:rgba(0,0,0,0.5);border-radius:4px 0 0 4px;z-index:10;cursor:pointer;}
.water-purifiers_202107 .swiper-arrow:after {position:absolute;top:50%;right:10px;width:16px;height:16px;margin-top:-8px;border:solid #fff;border-width:1px 1px 0 0;transform:rotate(45deg);transform-origin:center;content:'';}
.water-purifiers_202107 .swiper-arrow.swiper-button-next {left:auto;right:0;}
.water-purifiers_202107 .swiper-arrow.swiper-button-prev {transform:rotate(180deg);}
.water-purifiers_202107 .swiper-arrow.swiper-button-disabled {display:none;}


/** -Tablet UI- **/
@media only screen and (min-width:768px) {
.water-purifiers_202107 .swiper-arrow {width:44px;height:82px;opacity:0;transition:opacity 0.4s;}
.water-purifiers_202107 .swiper-arrow:after {right:16px;width:24px;height:24px;margin-top:-12px;}
.water-purifiers_202107 .swiper-arrow:focus,
.water-purifiers_202107 .section_cont:hover .swiper-arrow {opacity:1;}
}


/** -PC UI- **/
@media only screen and (min-width:1280px) {
.water-purifiers_202107 .swiper-arrow {width:58px;height:110px;}
.water-purifiers_202107 .swiper-arrow:after {right:23px;width:32px;height:32px;margin-top:-16px;border-width:2px 2px 0 0;}
.water-purifiers_202107 .swiper-pagination {height:12px;}
.water-purifiers_202107 .swiper-pagination-bullet {width:12px;height:12px;margin:0 6px;border-radius:6px;}
.water-purifiers_202107 .swiper-pagination-bullet.swiper-pagination-bullet-active {padding:0 14px;background:#da0f47 !important;}
}








/***** Contents *****/
/*** scene01_1 : 뉴트럴 디자인 - slide_color_type / 컬러 ***/
.water-purifiers_202107 .scene01_1_ani {position:relative;margin-top:38px;overflow:hidden;}


/* slide_color_type */
.water-purifiers_202107 .slide_color_type {position:relative;}
.water-purifiers_202107 .slide_color_type .swiper-arrow {top:31%;}
.water-purifiers_202107 .slide_color_type .swiper-pagination {margin-top:10px;}

.water-purifiers_202107 .slide_time_pagn .btn_swiper_pause,
.water-purifiers_202107 .slide_time_pagn .btn_swiper_play {display:none;width:20px;height:20px;margin-top:-10px;background:url("./btn_swiper_play.png") center/100% no-repeat;vertical-align:top;}
.water-purifiers_202107 .slide_time_pagn .btn_swiper_pause {display:inline-block;background:url("./btn_swiper_pause.png") center/100% no-repeat;}
.water-purifiers_202107 .slide_time_pagn.chk .btn_swiper_play {display:inline-block;}
.water-purifiers_202107 .slide_time_pagn.chk .btn_swiper_pause {display:none;}

.water-purifiers_202107 .slide_color_type .slide_time_pagn {position:absolute;right:inherit;left:0;bottom:36%;width:100%;z-index:5;text-align:right;padding:0 10px 10px 0;}
.water-purifiers_202107 .slide_color_type .slide_time_pagn ul {display:inline-block;vertical-align:top;}
.water-purifiers_202107 .slide_color_type .slide_time_pagn li {display:inline-block;position:relative;width:40px;height:1px;margin:0 1px;background:rgba(255,255,255,0.4);vertical-align:top;overflow:hidden;}
.water-purifiers_202107 .slide_color_type .slide_time_pagn li:after {position:absolute;left:0;top:0;width:0;height:1px;background:#fff;content:"";}

.water-purifiers_202107 .slide_color_type.s1 .slide_time_pagn li:nth-child(1):after {animation:timePagn both linear 3s;}
.water-purifiers_202107 .slide_color_type.s1 .slide_time_pagn li:nth-child(2):after,
.water-purifiers_202107 .slide_color_type.s1 .slide_time_pagn li:nth-child(3):after {width:0;}

.water-purifiers_202107 .slide_color_type.s2 .slide_time_pagn li:nth-child(1):after {width:100%;}
.water-purifiers_202107 .slide_color_type.s2 .slide_time_pagn li:nth-child(2):after {animation:timePagn both linear 3s;}
.water-purifiers_202107 .slide_color_type.s1 .slide_time_pagn li:nth-child(3):after {width:0%;}
.water-purifiers_202107 .slide_color_type.s3 .slide_time_pagn li:nth-child(1):after,
.water-purifiers_202107 .slide_color_type.s3 .slide_time_pagn li:nth-child(2):after {width:100%;}
.water-purifiers_202107 .slide_color_type.s3 .slide_time_pagn li:nth-child(3):after {animation:timePagn both linear 3s;}

@keyframes timePagn {
0% {width:0;}
100% {width:100%;}
}





/*** Scene02_1 : 국내 최초 상하좌우 무빙 출수탭 - slide_step ***/
.water-purifiers_202107 .scene02_1_ani {position:relative;margin:38px -25px 0 -25px;overflow:hidden;}
.water-purifiers_202107 .slide_step {position:relative;overflow:hidden;}
.water-purifiers_202107 .slide_step .swiper-slide {background:#fff;}
.water-purifiers_202107 .slide_step .swiper-arrow {background:rgba(0,0,0,0.3);}
.water-purifiers_202107 .slide_step.animate {transform:translateY(50px);opacity:0;transition:transform 0.4s 0s, opacity 0.6s 0s;}
.water-purifiers_202107 .slide_step.active {transform:translateY(0);opacity:1;transition-delay:0.1s;}
.water-purifiers_202107 .slide_step .swiper-pagination {margin-top:10px;}
.water-purifiers_202107 .slide_step .swiper-arrow {top:calc(50% - 10px);}
.water-purifiers_202107 .slide_step .slide_time_pagn {position:absolute;right:10px;bottom:0;z-index:5;}





/*** scene02_1 : 고온 살균 &amp; 스테인리스 직수관 - slide_step2 ***/
.water-purifiers_202107 .scene03_1_ani {position:relative;margin-top:38px;overflow:hidden;}
.water-purifiers_202107 .slide_step2 {position:relative;}
.water-purifiers_202107 .slide_step2 .swiper-pagination {margin-top:10px;}
.water-purifiers_202107 .slide_step2 .swiper-arrow {top:62%;}
.water-purifiers_202107 .slide_step2 .slide_time_pagn {position:absolute;right:10px;bottom:0;z-index:5;}












/***** Contents *****/
.water-purifiers_202107 table {width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0;text-align:center;}
.water-purifiers_202107 table img {vertical-align:top;}
.water-purifiers_202107 th, .water-purifiers_202107 td {vertical-align:middle;word-wrap:break-word;word-break:break-all;}
.water-purifiers_202107 caption {position:absolute !important;width:1px !important;height:1px !important;clip:rect(1px,1px,1px,1px);word-break:initial;overflow:hidden;z-index:-1;}

.water-purifiers_202107 .table_ty {position:relative;margin-top:38px;border-top:1px solid #222;}
.water-purifiers_202107 .table_ty th,
.water-purifiers_202107 .table_ty td {height:40px;padding:5px 10px;border:solid #ddd;border-width:0 1px 1px 0;box-sizing:border-box;font-size:12px;line-height:16px;}
.water-purifiers_202107 .table_ty thead th {background:#f2f2f2;}
.water-purifiers_202107 .table_ty th:last-child,
.water-purifiers_202107 .table_ty td:last-child {border-right:0;}




/** -Tablet UI- **/
@media only screen and (min-width:768px) {
.water-purifiers_202107 .table_ty {margin-top:42px;}
.water-purifiers_202107 .table_ty th,
.water-purifiers_202107 .table_ty td {height:50px;padding:5px;font-size:14px;line-height:18px;}
}


/** -PC UI- **/
@media only screen and (min-width:1280px) {
.water-purifiers_202107 .table_ty {margin-top:45px;}
.water-purifiers_202107 .table_ty th,
.water-purifiers_202107 .table_ty td {height:60px;padding:5px 10px;font-size:16px;line-height:20px;}
}


.water-purifiers_202107 .table_ty thead th.slash {background:#f2f2f2 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="100%" y1="100%" x2="0" y2="0%" stroke="gray" stroke-width="1" opacity="0.2" /></svg>');}
.slash {text-align:left;}
.slash div {text-align:right;}






