@charset "utf-8";

/* Common */
video {background:#fff !important;}


/* KRC0004 */
.KRC0004.stage-medium .component-inner,
.KRC0004.stage-medium .cpt-wrap .list-btn-area,
.KRC0004.stage-medium .cpt-wrap>.visual-area,
.KRC0004 .cpt-wrap .visual-area .bullet-list {max-width:1460px !important;}
.KRC0004 .cpt-wrap .visual-area {margin-top:26px;}
.KRC0004 .bullet-list .b-txt {margin-top:24px;}
.KRC0004 .bullet-list .b-txt .mo-only {margin-top:-24px;}
.KRC0004.stage-wide {margin:70px 0;}
.KRC0004.stage-wide .component-inner {max-width:1460px !important;}
.KRC0004.stage-wide .title * {font-size:54px;line-height:72px;}
.KRC0004.stage-wide .text-area .text {margin-top:36px !important;}

/* KRC0025 */
.KRC0025 .bullet-list .b-txt {margin-top:24px;}
.KRC0025 .bullet-list .b-txt .mo-only {margin-top:-24px;}

/* KRC0032 */
.KRC0032.stage-medium {max-width:1460px;margin-top:56px !important;padding:0 40px;}
.KRC0032.stage-medium .usp-banner-wrap .ui_carousel_list {max-width:100%;}
.KRC0032.stage-medium video {width:auto !important;max-width:100%;margin:0 auto;overflow:hidden;}
.KRC0032.stage-medium img {overflow:hidden;}
.KRC0032.stage-medium p.pc-only {overflow:hidden;}
.KRC0032.stage-wide {max-width:1600px;margin-top:0px !important;}
.KRC0032.stage-full {max-width:1380px;margin-top:56px !important;}
.KRC0032 .usp-banner-wrap {padding-bottom:40px;}
.KRC0032 .usp-banner-wrap .indi-wrap {bottom:-6px;}
.KRC0032 .text-align-center {position:absolute !important;width:1px !important;height:1px !important;clip:rect(1px,1px,1px,1px);word-break:initial;overflow:hidden;z-index:-1;}/* 영상 대체 텍스트 영역 */
.KRC0032 .box-align-center .bullet-list {position:absolute !important;width:1px !important;height:1px !important;clip:rect(1px,1px,1px,1px);word-break:initial;overflow:hidden;z-index:-1;}/* 영상 대체 텍스트 영역 */
.KRC0032 .usp-banner-wrap .carousel-box .text-area.type-narrow {top:0;left:0;max-width:430px;padding:45px 20px 0 50px;transform:translate(0,0);}
.KRC0032 .usp-banner-wrap .carousel-box .text-area.type-narrow .bullet-list {position:absolute !important;width:1px !important;height:1px !important;clip:rect(1px,1px,1px,1px);word-break:initial;overflow:hidden;z-index:-1;}/* 영상 대체 텍스트 영역 */
.KRC0032.stage-full .usp-banner-wrap .carousel-box .text-area.type-narrow .inner {max-width:100%;}
.component-wrap.bg-white .component.KRC0032 .fc-dark-gray {color:#666 !important;}

/* KRC0035 */
.KRC0035 .animation-box .animation-area {max-width:640px !important;}
.KRC0035 .visual-area img {width:100% !important;max-width:640px !important;}
.KRC0035 .visual-wrap.image-align-left .visual-area {text-align:left;}
.KRC0035 .visual-wrap.image-align-left .controller-wrap {right:inherit;left:calc(100% - 40px);}
.KRC0035 .visual-wrap.image-align-right .visual-area {text-align:right;}
.KRC0035 .visual-wrap.image-align-right .visual-area.animation-box .animation-area {float:right;}
.KRC0035.align-center {text-align:left;}
.KRC0035.large .visual-wrap .animation-box .animation-area {max-width:100% !important;}
.KRC0035.large .text-wrap {padding:45px 20px 0 50px;vertical-align:top;}
.KRC0035.standard .text-wrap.side-left-text {padding-left:50px;}






/*** - Mobile UI - ***/
@media only screen and (max-width:768px) {
/* Common */
.component-wrap {padding-bottom:0;}
	
/* KRC0004 */
.KRC0004 .cpt-wrap .visual-area {margin-top:4px;}
.KRC0004 .bullet-list .b-txt {margin-top:21px;padding:0 3%;}
.KRC0004 .bullet-list .b-txt .mo-only {margin-top:0;}
.KRC0004 .mo-only.bm {padding-bottom:60px;}
.KRC0004 .align-right {margin:0 !important;}
.KRC0004.stage-wide {margin:70px 0 10px 0;}
.KRC0004.stage-wide .title * {font-size:32px;line-height:42px;}
.KRC0004.stage-wide .text-area .text {margin-top:22px !important;}
		
/* KRC0025 */
.KRC0025 .bullet-list .b-txt {margin-top:21px;padding:0 9px;}
.KRC0025 .bullet-list .b-txt .mo-only {margin-top:0;}
.KRC0025 .bm {padding-bottom:60px;}

/* KRC0032 */
.KRC0032.stage-medium {margin-top:28px !important;padding:0;}
.KRC0032.stage-medium img {width:100% !important;}
.KRC0032.stage-medium video {width:100% !important;}
.KRC0032.stage-full {margin-top:28px !important;}
.component-wrap.zero-btm .component.KRC0032 .component-box {padding-bottom:0;}
.KRC0032 .usp-banner-wrap .carousel-box .text-area.align-bottom,
.KRC0032 .usp-banner-wrap .carousel-box .text-area.align-middle,
.KRC0032 .usp-banner-wrap .carousel-box .text-area.align-top {padding:0;}
.KRC0032.stage-full .usp-banner-wrap .carousel-box {display:flex;flex-direction:column-reverse;}
.KRC0032.stage-full .usp-banner-wrap .carousel-box .text-area.type-narrow {max-width:100% !important;margin:0 0 27px 0;padding-top:0 !important;text-align:center !important;}
		
/* KRC0035 */
.KRC0035 .text-wrap.side-left-text,
.KRC0035 .text-wrap.side-right-text {text-align:center;}
.KRC0035 .text-wrap .bullet-list {margin-top:0 !important;}
.KRC0035  .text-wrap.side-left-text {padding-left:0;}
.KRC0035 .animation-box .animation-area {max-width:100% !important;}
.KRC0035 .text-wrap .thumbs {margin-top:0;}
.KRC0035 .visual-area img {max-width:100% !important;}
.KRC0035.m-hdline-top .visual-wrap .bullet-list {margin-top:21px;padding:0 9px;}
.KRC0035.m-hdline-top .bm {padding-bottom:60px;}
.KRC0035.standard .text-wrap.side-left-text {padding-left:0px;}
	
.component-wrap.bg-lightgray {margin-top:60px;}
.bg-lightgray .KRC0035.m-hdline-top {padding-bottom:60px;}
}










