@charset "utf-8";

/* Common */


/* KRC0025 */
.KRC0025 .bullet-list .b-txt {margin-top:24px;}
.KRC0025 .bullet-list .b-txt .mo-only {margin-top:-24px;}

/* KRC0032 */
.KRC0032.stage-medium {margin-top:56px !important;}
.KRC0032.stage-wide .animation-area video {border-radius:0;}
.KRC0032 .usp-banner-wrap {padding-bottom:40px;}
.KRC0032 .usp-banner-wrap .indi-wrap {bottom:-6px;}
.KRC0032.stage-full {max-width:1460px;}
.KRC0032.stage-full .usp-banner-wrap .carousel-box .text-area .title h2 {font-size:36px;line-height:46px;}
.KRC0032.stage-full .usp-banner-wrap .carousel-box .text-area .banner-txt {font-size:16px;line-height:26px;}


/* KRC0035 */
.KRC0035 .animation-box .animation-area {max-width:640px !important;}
.KRC0035 .visual-area img {width:100% !important;max-width:640px !important;}
.KRC0035 .visual-wrap.image-align-left .visual-area {text-align:left;}
.KRC0035 .visual-wrap.image-align-left .controller-wrap {right:inherit;left:calc(100% - 40px);}
.KRC0035 .visual-wrap.image-align-right .visual-area {text-align:right;}
.KRC0035.align-center {text-align:left;}
.KRC0035.align-center .text-wrap .title h2 {font-size:32px;line-height:46px;}
.KRC0035.align-center .text-wrap .text {font-size:16px;line-height:26px;}


@media only screen and (min-width:1400px) {
/* KRC0035 */
.KRC0035 .visual-wrap.image-align-left .controller-wrap {left:600px;}
}





/*** - Mobile UI - ***/
@media only screen and (max-width:768px) {
/* Common */
.component-wrap {padding-top:0;}
	
	
/* KRC0025 */
.KRC0025 .align-right {margin-top:0px;}
.KRC0025 .bullet-list .b-txt {margin-top:21px;}
.KRC0025 .bullet-list .b-txt .mo-only {margin-top:0;}

	
/* KRC0032 */
.KRC0032.stage-medium {margin-top:28px !important;}
.component-wrap.zero-btm .component.KRC0032 .component-box {padding-bottom:0;}
.KRC0032.stage-full .usp-banner-wrap .carousel-box {display:flex;flex-direction:column-reverse;}
.KRC0032.stage-full .usp-banner-wrap .carousel-box .text-area {margin-bottom:27px !important;padding-top:0 !important;text-align:center;}
	
.KRC0032.stage-full .usp-banner-wrap .carousel-box .text-area .title h2 {font-size:32px;line-height:42px;}
.KRC0032.stage-full .usp-banner-wrap .carousel-box .text-area .banner-txt {font-size:15px;line-height:23px;}

	
	
/* KRC0035 */
.KRC0035 .inner {display:flex;flex-direction:column-reverse;}
.KRC0035.standard .text-wrap.side-left-text,
.KRC0035.standard .text-wrap.side-right-text {margin:0 0 27px 0;text-align:center;}
.KRC0035.standard .text-wrap .bullet-list {margin-top:0 !important;}
.KRC0035 .animation-box .animation-area {max-width:100% !important;}
.KRC0035 .visual-area img {max-width:100% !important;}
.KRC0035.align-center .text-wrap .title h2 {font-size:24px;line-height:34px;}
.KRC0035.align-center .text-wrap .text {font-size:14px;line-height:22px;}
}
	



