@charset "utf-8";

/* Common */



/* KRC0021 */
.KRC0021 {margin-top:60px !important;}
.KRC0021 img {width:100%;}
.KRC0021 .unit-box .visual-area {margin:0;}
.KRC0021 .unit-list .ui_carousel_slide {padding:0 30px;}
.KRC0021 .ui_carousel_track {margin:0 -18px;}


/* KRC0025 */
.KRC0025 .bullet-list .b-txt {margin-top:24px;}
.KRC0025 .bullet-list .b-txt .mo-only {margin-top:-24px;}


/* KRC0032 */
.KRC0032.stage-medium {margin-top:56px !important;}
.KRC0032.stage-medium video {width:auto !important;max-width:100%;margin:0 auto;}
.KRC0032.stage-wide .animation-area video {border-radius:0;}
.KRC0032.stage-full {/*max-width:1460px;*/}
.KRC0032.stage-full .usp-banner-wrap .carousel-box .text-area .title h2 {font-size:36px;line-height:46px;}
.KRC0032.stage-full .usp-banner-wrap .carousel-box .text-area .banner-txt {font-size:16px;line-height:26px;}
.KRC0032 .usp-banner-wrap {padding-bottom:40px;}
.KRC0032 .usp-banner-wrap .indi-wrap {bottom:-6px;}
.KRC0032 .bullet-list {position:absolute !important;width:1px !important;height:1px !important;clip:rect(1px,1px,1px,1px);word-break:initial;overflow:hidden;z-index:-1;}


/* KRC0035 */
.KRC0035 .animation-box .animation-area {max-width:640px !important;}
.KRC0035 .visual-area img {width:100% !important;max-width:640px !important;}
.KRC0035 .visual-wrap.image-align-left .visual-area {text-align:left;}
.KRC0035 .visual-wrap.image-align-left .controller-wrap {right:inherit;left:calc(100% - 40px);}
.KRC0035 .visual-wrap.image-align-right .visual-area {text-align:right;}
.KRC0035.align-center {text-align:left;}
.KRC0035.align-center .text-wrap .title h2 {font-size:32px;line-height:46px;}
.KRC0035.align-center .text-wrap .text {font-size:16px;line-height:26px;}


@media only screen and (min-width:1400px) {
/* KRC0035 */
.KRC0035 .visual-wrap.image-align-left .controller-wrap {left:600px;}
}


@media only screen and (max-width:1400px) {
/* KRC0021 */	
.KRC0021 {margin-top:40px !important;}
.KRC0021 .unit-list .ui_carousel_slide {padding:0 20px;}
.KRC0021 .ui_carousel_track {margin:0px;}
}






/*** - Mobile UI - ***/
@media only screen and (max-width:768px) {
/* Common */
.component-wrap {padding-bottom:0;}
	
	
/* KRC0021 */	
.KRC0021 {margin-top:30px !important;margin-bottom:-4px !important;}
.KRC0021 .unit-box .visual-area {margin:0 12px;}
.KRC0021 .unit-list .ui_carousel_slide {padding:0;}
.KRC0021 .ui_carousel_track {margin:0;}
.component-wrap .KRC0021 .slide-controls .btn-arrow.prev {left:0 !important;}

	
/* KRC0025 */
.KRC0025 .align-right {margin-top:0px;}
.KRC0025 .bullet-list .b-txt {margin-top:21px;}
.KRC0025 .bullet-list .b-txt .mo-only {margin-top:0;}

	
/* KRC0032 */
.KRC0032.stage-medium {margin-top:28px !important;}
.KRC0032.stage-medium video {width:100% !important;}
.KRC0032.stage-full .usp-banner-wrap .carousel-box .text-area {position:absolute !important;left:0 !important;top:55px !important;padding-top:0 !important;text-align:center;}
.KRC0032.stage-full .usp-banner-wrap .carousel-box .text-area .banner-tit-sup {color:#fff !important;}
.KRC0032.stage-full .usp-banner-wrap .carousel-box .text-area .title h2 {color:#fff !important;font-size:24px;line-height:34px;}
.KRC0032.stage-full .usp-banner-wrap .carousel-box .text-area .banner-txt {color:#fff !important;font-size:15px;line-height:23px;}
.component-wrap.zero-btm .component.KRC0032 .component-box {padding-bottom:0;}
	
	
/* KRC0035 */
.KRC0035 .inner {display:flex;flex-direction:column-reverse;}
.KRC0035.standard .text-wrap.side-left-text,
.KRC0035.standard .text-wrap.side-right-text {margin:0 0 27px 0;text-align:center;}
.KRC0035.standard .text-wrap .bullet-list {margin-top:0 !important;}
.KRC0035 .animation-box .animation-area {max-width:100% !important;}
.KRC0035 .visual-area img {max-width:100% !important;}
.KRC0035.align-center .text-wrap .title h2 {font-size:24px;line-height:34px;}
.KRC0035.align-center .text-wrap .text {font-size:14px;line-height:22px;}
}
	



/* brand_list */
.brand_list {position:relative;max-width:1380px;margin:40px auto 0 auto;padding:0 40px 5px 40px;}
.brand_list span {position:absolute;left:40px;top:50%;font-size:18px;transform:translateY(-50%);}
.brand_list .brand {position:relative;padding-left:235px;}
.brand_list .brand ul {display:inline-block;margin-right:40px;background:#f2f1ed;border-radius:5px;overflow:hidden;}
.brand_list .brand li {position:relative;float:left;min-width:190px;height:60px;padding:5px 10px;box-sizing:border-box;text-align:center;}
.brand_list .brand li:after {position:absolute;top:50%;left:0;width:1px;height:22px;margin-top:-10px;background:#ddd;content:'';}
.brand_list .brand li:first-child:after {display:none;}
.brand_list .brand li img {height:50px;vertical-align:top;}
.brand_list .brand a {display:inline-block;position:relative;margin-top:22px;font-size:16px;padding-right:15px;text-decoration:underline;vertical-align:top;}
.brand_list .brand a::after {position:absolute;right:0;top:50%;margin-top:-3px;width:7px;height:7px;border:solid #535353;border-width:1px 1px 0 0;transform:rotate(45deg);transform-origin:center;content:'';}


@media only screen and (max-width:1200px) {
/* brand_list */
.brand_list span {top:50%;font-size:16px;}
.brand_list .brand {padding-left:190px;}
.brand_list .brand ul {margin-right:30px;}
.brand_list .brand li {min-width:150px;height:50px;}
.brand_list .brand li:after {height:18px;margin-top:-8px;}
.brand_list .brand li img {height:40px;}
.brand_list .brand a {margin-top:15px;font-size:14px;padding-right:13px;}
}

@media only screen and (max-width:940px) {
/* brand_list */
.brand_list span {font-size:15px;}
.brand_list .brand {padding-left:160px;}
.brand_list .brand ul {margin-right:20px;}
.brand_list .brand li {min-width:100px;height:40px;}
.brand_list .brand li img {height:30px;}
.brand_list .brand a {margin-top:12px;font-size:13px;}
}

@media only screen and (max-width:768px) {
/* brand_list */
	
.brand_list {padding:0 18px;}
.brand_list span {display:block;position:static;font-size:15px;}
.brand_list .brand {margin-top:5px;padding:20px 10px;background:#f2f1ed;border-radius:5px;text-align:center;}
.brand_list .brand ul {display:block;margin-right:0;}
.brand_list .brand li {width:33.3%;height:45px;}
.brand_list .brand li img {height:35px;}
}














