@charset "utf-8";

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');


/***** common *****/
/*** -Mobile UI- ***/
.air-purifier_202107 {font-family:'Noto Sans KR','Source Sans Pro',Arial,sans-serif;color:#222;font-size:16px;line-height:24px;letter-spacing:-0.2px;}
.air-purifier_202107 * {word-wrap:break-word;word-break:keep-all;white-space:normal;}
.air-purifier_202107 .hidden {position:absolute !important;width:1px !important;height:1px !important;clip:rect(1px,1px,1px,1px);word-break:initial;overflow:hidden;z-index:-1;}
.air-purifier_202107 .only_pc {display:none;}
.air-purifier_202107 .only_pc_txt {display:none;}
.air-purifier_202107 .only_m {display:block;}
.air-purifier_202107 img {max-width:100%;margin:0 auto;}
.air-purifier_202107 .ico_ani {display:block;position:absolute;left:0;top:0;width:100%;height:100%;}
.air-purifier_202107 .ico_ani img {display:none;position:absolute;left:0;top:0;width:100%;height:100%;}
.air-purifier_202107 .animate.active .ico_ani img {display:block;}

/* feature_cont */
.air-purifier_202107 .section_cont {position:relative;}
.air-purifier_202107 .section_cont.bg {background:#f7f7f7;}
.air-purifier_202107 .feature_cont {position:relative;padding:70px 25px 20px 25px;box-sizing:border-box;}

/* btn_go_info */
.air-purifier_202107 sup {display:inline-block;vertical-align:top;}
.air-purifier_202107 a.btn_go_info {display:inline-block;position:relative;height:22px;margin-left:4px;color:#999;font-size:10px;line-height:19px;vertical-align:top;}


/*** -Tablet UI- ***/
@media only screen and (min-width:600px) {
.air-purifier_202107 .only_pc {display:block;}
.air-purifier_202107 .only_m {display:none;}
}

@media only screen and (min-width:768px) {
.air-purifier_202107 {font-size:18px;line-height:26px;}
	
/* feature_cont */
.air-purifier_202107 .feature_cont {padding:140px 40px 0 40px;}
	
/* btn_go_info */
.air-purifier_202107 a.btn_go_info {height:25px;font-size:11px;line-height:20px;transition:color 0.4s;}
.air-purifier_202107 a.btn_go_info:hover {color:#da0f47;}
}

@media only screen and (min-width:950px) {
.air-purifier_202107 .only_pc_txt {display:block;}
}


/*** -PC UI- ***/
@media only screen and (min-width:1280px) {
.air-purifier_202107 {font-size:20px;line-height:30px;}
.air-purifier_202107 .section_cont {margin:0 auto;}
.air-purifier_202107 .feature_cont {max-width:1460px;margin:0 auto;}
.air-purifier_202107 .feature_cont.resp {max-width:100%;padding-right:0;padding-left:0;}

/* btn_go_info */
.air-purifier_202107 a.btn_go_info {height:28px;font-size:12px;line-height:20px;}
}










/**** Title ****/
.air-purifier_202107 .title {position:relative;}
.air-purifier_202107 .title.animate {opacity:0;transition:opacity 0.4s;}
.air-purifier_202107 .eyebrow {position:relative;margin:-5px 0 10px 0;color:#767676;font-size:16px;font-weight:700;line-height:24px;overflow:hidden;}
.air-purifier_202107 .eyebrow span {display:block;position:relative;}
.air-purifier_202107 .tit {position:relative;left:-2px;font-size:31px;font-weight:bold;line-height:42px;letter-spacing:-0.8px;overflow:hidden;}
.air-purifier_202107 .tit span {display:block;position:relative;}
.air-purifier_202107 .desc {position:relative;margin-top:15px;}
.air-purifier_202107 .btn_cat {margin-top:17px;}
.air-purifier_202107 .btn_cat a {display:inline-block;padding:6px 15px 7px 15px;border:1px solid #222;border-radius:50px;box-sizing:border-box;color:#222;font-size:13px;line-height:20px;}

/* Active */
.air-purifier_202107 .title.active {opacity:1}
.air-purifier_202107 .title.active .eyebrow span {animation:txtTop both 0.4s 0.2s;}
.air-purifier_202107 .title.active .tit span {animation:txtTop both 0.6s 0.3s;}
.air-purifier_202107 .title.active .desc {animation:fade both 0.8s 0.8s;}
.air-purifier_202107 .title.active .btn_cat {animation:fade both 0.6s 1s;}


/** -Tablet UI- **/
@media only screen and (min-width:768px) {
.air-purifier_202107 .title {margin:0 auto;text-align:center;}
.air-purifier_202107 .eyebrow {margin-bottom:10px;font-size:20px;line-height:28px;}
.air-purifier_202107 .tit {left:0;font-size:40px;line-height:56px;}
.air-purifier_202107 .desc {margin-top:20px;}
.air-purifier_202107 .btn_cat {margin-top:40px;text-align:center;}
.air-purifier_202107 .btn_cat a {padding:10px 40px;border-radius:50px;transition:background 0.4s, color 0.4s;}
.air-purifier_202107 .btn_cat a:hover {background-color:#222;color:#fff;}
}


/** -PC UI- **/
@media only screen and (min-width:1280px) {
.air-purifier_202107 .eyebrow {margin-bottom:14px;font-size:24px;line-height:32px;}
.air-purifier_202107 .tit {font-size:52px;line-height:70px;}
.air-purifier_202107 .desc {margin-top:28px;}
}










/***** Contents : Box Type *****/
.air-purifier_202107 .box + .title {margin-top:30px;}
.air-purifier_202107 .img {position:relative;margin-top:38px;border-radius:10px;overflow:hidden;}
.air-purifier_202107 .img.not_round {border-radius:0;}
.air-purifier_202107 .img_resp {position:relative;margin:38px -25px 0 -25px;overflow:hidden;}
.air-purifier_202107 video {display:block;width:100%;}
.air-purifier_202107 .box_area {min-height:300px;margin-top:38px;background:#000;color:#fff;text-align:center;line-height:300px;}

/* Active */
.air-purifier_202107 .box.animate .img,
.air-purifier_202107 .box.animate .img_video,
.air-purifier_202107 .box.animate .box_area,
.air-purifier_202107 .box.animate .img_resp img,
.air-purifier_202107 .box.animate .img_resp video {transform:translateY(50px);opacity:0;transition:transform 0.3s 0s, opacity 0.3s 0s;}
.air-purifier_202107 .box.animate .ico_ani {display:none;}

.air-purifier_202107 .box.active .img,
.air-purifier_202107 .box.active .img_video,
.air-purifier_202107 .box.active .box_area,
.air-purifier_202107 .box.active .img_resp img,
.air-purifier_202107 .box.active .img_resp video {transform:translateY(0%);opacity:1;transition:transform 0.4s 0.3s, opacity 0.8s 0.3s;}
.air-purifier_202107 .box.animate.active .ico_ani {display:block;}


/** -Tablet UI- **/
@media only screen and (min-width:768px) {
.air-purifier_202107 .box + .title {margin-top:42px;}
.air-purifier_202107 .img {margin-top:42px;border-radius:15px;}
.air-purifier_202107 .img_resp {margin-top:42px;}
.air-purifier_202107 .box_area {min-height:400px;margin-top:42px;line-height:400px;}
}


/** -PC UI- **/
@media only screen and (min-width:1280px) {
.air-purifier_202107 .box + .title {margin-top:45px;}
.air-purifier_202107 .img {margin-top:45px;border-radius:20px;}
.air-purifier_202107 .img_resp {margin-top:45px;}
.air-purifier_202107 .box_area {min-height:500px;margin-top:45px;line-height:500px;}
}










/***** Main *****/
.air-purifier_202107 .section_cont.main {background:#fdfaf4 url("./img_scene00_bg.jpg") 92% bottom /cover no-repeat;}
.air-purifier_202107 .section_cont.main .feature_cont {min-height:542px;padding:60px 25px 20px 25px;color:#000;overflow:hidden;}
.air-purifier_202107 .section_cont.main .feature_cont .tit {margin-top:-8px;}
.air-purifier_202107 .section_cont.main .feature_cont .tit strong {display:block;position:relative;overflow:hidden;}
.air-purifier_202107 .section_cont.main .feature_cont .tit strong span {display:block;position:relative;}
.air-purifier_202107 .section_cont.main .feature_cont .tit sup {display:inline-block;margin-top:6px;font-size:14px;font-weight:500;line-height:20px;vertical-align:top;}
.air-purifier_202107 .section_cont.main .feature_cont .obj {position:absolute;right:27px;bottom:0;width:89px;}
.air-purifier_202107 .section_cont.main .feature_cont .btn_anchor {position:relative;margin-top:65px;}
.air-purifier_202107 .section_cont.main .feature_cont .btn_anchor li {margin-top:17px;color:#767676;font-size:15px;}
.air-purifier_202107 .section_cont.main .feature_cont .btn_anchor li:first-child {margin-top:0;}
.air-purifier_202107 .section_cont.main .feature_cont .btn_anchor li a {display:block;}
.air-purifier_202107 .section_cont.main .feature_cont .btn_anchor strong {display:block;color:#000;font-size:24px;line-height:34px;letter-spacing:-0.5px;overflow:hidden;}
.air-purifier_202107 .section_cont.main .feature_cont .btn_anchor strong em {display:block;position:relative;}
.air-purifier_202107 .section_cont.main .feature_cont .btn_anchor span {display:inline-block;position:relative;margin-bottom:2px;padding-right:19px;vertical-align:top;}
.air-purifier_202107 .section_cont.main .feature_cont .btn_anchor span:after {position:absolute;right:0;top:5px;width:13px;height:13px;background:url("./ico_arrow.svg") center/100% no-repeat;border:1px solid #656565;border-radius:50%;box-sizing:border-box;content:"";}

/* Active */
.air-purifier_202107 .section_cont.main .feature_cont.active .tit strong span {animation:txtTop both 0.6s 0.2s;}
.air-purifier_202107 .section_cont.main .feature_cont.active .tit strong:nth-child(2) span {animation-delay:0.4s;}
.air-purifier_202107 .section_cont.main .feature_cont.active .tit strong:nth-child(3) span {animation-delay:0.6s;}
.air-purifier_202107 .section_cont.main .feature_cont.active .btn_anchor li {animation:fade both 0.8s 0.8s;}
.air-purifier_202107 .section_cont.main .feature_cont.active .btn_anchor li:nth-child(2) {animation-delay:1.1s;}
.air-purifier_202107 .section_cont.main .feature_cont.active .btn_anchor li:nth-child(3) {animation-delay:1.4s;}
.air-purifier_202107 .section_cont.main .feature_cont.active .obj {animation:main_obj both 0.8s 0.2s;}

/* Animation */
@keyframes main_obj {
0% {transform:translateX(25px);opacity:0;}
100% {transform:translateX(0);opacity:1}
}


/** -Tablet UI- **/
@media only screen and (min-width:768px) {
/* btn_anchor */
.air-purifier_202107 .section_cont.main .feature_cont .tit {padding:0 50px;}
.air-purifier_202107 .section_cont.main .feature_cont .btn_anchor {padding:0 50px;}
.air-purifier_202107 .section_cont.main .feature_cont .btn_anchor a {transition:color 0.4s;}
.air-purifier_202107 .section_cont.main .feature_cont .btn_anchor a:hover {color:#fa263e;}	
}


/** -PC UI- **/
@media only screen and (min-width:1280px) {
.air-purifier_202107 .section_cont.main .feature_cont {min-height:720px;}
	
/* btn_anchor */
.air-purifier_202107 .section_cont.main .feature_cont .tit {padding:0 75px;}
.air-purifier_202107 .section_cont.main .feature_cont .btn_anchor {display:flex;flex-wrap:nowrap;width:100%;margin-top:177px;padding:0 75px;}
.air-purifier_202107 .section_cont.main .feature_cont .btn_anchor li {width:100%;margin-top:0;font-size:24px;}
.air-purifier_202107 .section_cont.main .feature_cont .btn_anchor strong {font-size:32px;font-weight:bold;line-height:40px;}
.air-purifier_202107 .section_cont.main .feature_cont .btn_anchor span {margin-top:14px;padding-right:36px;}
.air-purifier_202107 .section_cont.main .feature_cont .btn_anchor span:after {top:4px;width:24px;height:24px;border-width:2px;}
}










/***** Disclaimer *****/
.air-purifier_202107 .disclaimer_info {position:relative;padding-bottom:46px;color:#888;font-size:13px;line-height:21px;}
.air-purifier_202107 .disclaimer_info .li {position:relative;margin-top:24px;}
.air-purifier_202107 .disclaimer_info .li:first-child {margin-top:0;}
.air-purifier_202107 .disclaimer_info .li > strong {display:block;padding-left:13px;font-weight:normal;} 
.air-purifier_202107 .disclaimer_info .li > strong em {position:absolute;left:0;top:0;}
.air-purifier_202107 .disclaimer_info .li:nth-child(n + 10) > strong {padding-left:19px;} 
.air-purifier_202107 .disclaimer_info .li ul {margin-top:4px;}
.air-purifier_202107 .disclaimer_info .li li {position:relative;margin-top:4px;padding-left:12px;}
.air-purifier_202107 .disclaimer_info .li li:first-child {margin-top:0;}
.air-purifier_202107 .disclaimer_info .li li:before {position:absolute;left:5px;top:11px;width:4px;height:1px;background:#888;content:"";}
.air-purifier_202107 .disclaimer_info .li p {position:relative;padding-left:16px;}
.air-purifier_202107 .disclaimer_info .li p em {position:absolute;left:0;top:0;}
.air-purifier_202107 .disclaimer_info.animate {opacity:0;transition:opacity 0.6s 0s;}
.air-purifier_202107 .disclaimer_info.active {opacity:1;transition-delay:0.1s;}

/** -Tablet UI- **/
@media only screen and (min-width:768px) {
}


/** -PC UI- **/
@media only screen and (min-width:1280px) {
}










/***** Swiper *****/
/** Common **/
.air-purifier_202107 .slide {position:relative;}
.air-purifier_202107 .slide .swiper-notification {position:absolute !important;width:1px !important;height:1px !important;clip:rect(1px,1px,1px,1px);word-break:initial;overflow:hidden;z-index:-1;}
.air-purifier_202107 .swiper-container {position:relative;overflow:hidden;}
.air-purifier_202107 .swiper-wrapper {display:flex;position:relative;width:100%;height:100%;transition-property:transform;box-sizing:content-box;cursor:grab;z-index:1;}
.air-purifier_202107 .swiper-container-autoheight .swiper-wrapper {align-items:flex-start;transition-property:transform,height;height:auto !important;}
.air-purifier_202107 .swiper-slide {flex-shrink:0;position:relative;width:100%;height:100%;transition-property:transform;box-sizing:border-box;}
.air-purifier_202107 .swiper-container-fade .swiper-slide {pointer-events:none;transition-property:opacity;}
.air-purifier_202107 .swiper-container.swiper-container-initialized .swiper-page-wrap {display:block;}

.air-purifier_202107 .swiper-pagination {position:relative;display:block;width:100%;height:8px;font-size:0;text-align:center;overflow:hidden;z-index:4;}
.air-purifier_202107 .swiper-pagination-bullet {display:inline-block;position:relative;width:8px;height:8px;margin:0 4px;background-color:#aaa !important;border-radius:4px;vertical-align:top;overflow:hidden;transition:padding 0.4s;}
.air-purifier_202107 .swiper-pagination-bullet.swiper-pagination-bullet-active {padding:0 9px;background:#da0f47 !important;}
.air-purifier_202107 .swiper-arrow {position:absolute;left:0;top:50%;width:30px;height:55px;margin-top:-28px;background:rgba(0,0,0,0.5);border-radius:4px 0 0 4px;z-index:10;cursor:pointer;}
.air-purifier_202107 .swiper-arrow:after {position:absolute;top:50%;right:10px;width:16px;height:16px;margin-top:-8px;border:solid #fff;border-width:1px 1px 0 0;transform:rotate(45deg);transform-origin:center;content:'';}
.air-purifier_202107 .swiper-arrow.swiper-button-next {left:auto;right:0;}
.air-purifier_202107 .swiper-arrow.swiper-button-prev {transform:rotate(180deg);}
.air-purifier_202107 .swiper-arrow.swiper-button-disabled {display:none;}


/** -Tablet UI- **/
@media only screen and (min-width:768px) {
.air-purifier_202107 .swiper-arrow {width:44px;height:82px;opacity:0;transition:opacity 0.4s;}
.air-purifier_202107 .swiper-arrow:after {right:16px;width:24px;height:24px;margin-top:-12px;}
.air-purifier_202107 .swiper-arrow:focus,
.air-purifier_202107 .section_cont:hover .swiper-arrow {opacity:1;}
}


/** -PC UI- **/
@media only screen and (min-width:1280px) {
.air-purifier_202107 .swiper-arrow {width:58px;height:110px;}
.air-purifier_202107 .swiper-arrow:after {right:23px;width:32px;height:32px;margin-top:-16px;border-width:2px 2px 0 0;}
.air-purifier_202107 .swiper-pagination {height:12px;}
.air-purifier_202107 .swiper-pagination-bullet {width:12px;height:12px;margin:0 6px;border-radius:6px;}
.air-purifier_202107 .swiper-pagination-bullet.swiper-pagination-bullet-active {padding:0 14px;background:#da0f47 !important;}
}










/***** Contents *****/
/*** scene01_2 : 뉴 심플 디자인 - slide_color_type / 컬러 ***/
.air-purifier_202107 .scene01_2_ani {position:relative;margin-top:38px;overflow:hidden;}
.air-purifier_202107 .scene01_2_ani.animate {transform:translateY(50px);opacity:0;transition:transform 0.4s 0s, opacity 0.6s 0s;}
.air-purifier_202107 .scene01_2_ani.active {transform:translateY(0);opacity:1;transition-delay:0.1s;}

/* slide_color_type */
.air-purifier_202107 .slide_color_type {position:relative;}
.air-purifier_202107 .slide_color_type .swiper-pagination {margin-top:20px;}
.air-purifier_202107 .slide_color_type .color_obj {position:relative;margin-top:10px;border-radius:10px;overflow:hidden;}

/* color_bg */
.air-purifier_202107 .slide_color_type .color_bg {position:relative;height:90px;padding-left:calc(50% + 14px);background:#fff;box-sizing:border-box;}
.air-purifier_202107 .slide_color_type .color_bg:before {position:absolute;left:0;top:0;width:calc(50% - 20px);height:90px;background:url("./img_scene01_2_obj_sdw.png") right top/contain no-repeat;border-radius:10px;overflow:hidden;content:"";}
.air-purifier_202107 .slide_color_type .c1 .color_bg:before {background-color:#dbd7d0;}
.air-purifier_202107 .slide_color_type .c2 .color_bg:before {background-color:#f4f4f4;}
.air-purifier_202107 .slide_color_type .c3 .color_bg:before {background-color:#3c4e4e;}
.air-purifier_202107 .slide_color_type .c4 .color_bg:before {background-color:#f2cece;}

/* color_name */
.air-purifier_202107 .slide_color_type .color_name {padding-top:4px;}
.air-purifier_202107 .slide_color_type .color_name dt {font-size:18px;font-weight:bold;line-height:24px;}
.air-purifier_202107 .slide_color_type .color_name dt em {display:block;margin-top:-1px;font-size:11px;font-weight:300;line-height:16px;}
.air-purifier_202107 .slide_color_type .color_name dd {margin-top:6px;font-size:12px;line-height:16px;}
.air-purifier_202107 .slide_color_type .c1 .color_name dt em {color:#7e7a74;}
.air-purifier_202107 .slide_color_type .c2 .color_name dt em {color:#7e7a74;}
.air-purifier_202107 .slide_color_type .c3 .color_name dt em {color:#5b7b86;}
.air-purifier_202107 .slide_color_type .c4 .color_name dt em {color:#cea1a1;}


/** -Tablet UI- **/
@media only screen and (min-width:768px) {
.air-purifier_202107 .scene01_2_ani {margin-top:42px;}
.air-purifier_202107 .scene01_2_ani .swiper-slide {padding-left:calc(26.5% + 20px);}
.air-purifier_202107 .scene01_2_ani .color_obj {margin-top:0;}
	
/* color_bg */
.air-purifier_202107 .slide_color_type .color_bg {display:flex;flex-wrap:nowrap;position:absolute;left:0;top:0;width:26.5%;height:100%;padding:0 0 100px 0;box-sizing:border-box;text-align:center;align-items:center;}
.air-purifier_202107 .slide_color_type .color_bg:before {top:initial;bottom:0;width:100%;height:100px;}
	
/* color_name */	
.air-purifier_202107 .slide_color_type .color_name {width:100%;padding-top:0;}
.air-purifier_202107 .slide_color_type .color_name dt {font-size:24px;line-height:30px;}
.air-purifier_202107 .slide_color_type .color_name dt em {margin-top:3px;font-size:14px;line-height:18px;}
.air-purifier_202107 .slide_color_type .color_name dd {margin-top:16px;font-size:15px;line-height:22px;}
}


@media only screen and (min-width:950px) {
.air-purifier_202107 .scene01_2_ani .swiper-slide {padding-left:calc(26.5% + 30px);}

/* color_bg */
.air-purifier_202107 .slide_color_type .color_bg {padding-bottom:170px;}
.air-purifier_202107 .slide_color_type .color_bg:before {height:170px;}
	
/* color_name */
.air-purifier_202107 .slide_color_type .color_name dt {font-size:28px;line-height:34px;}
.air-purifier_202107 .slide_color_type .color_name dt em {margin-top:6px;font-size:16px;line-height:20px;}
.air-purifier_202107 .slide_color_type .color_name dd {margin-top:32px;font-size:18px;line-height:24px;}
}


/** -PC UI- **/
@media only screen and (min-width:1280px) {
.air-purifier_202107 .scene01_2_ani {margin-top:45px;}
.air-purifier_202107 .scene01_2_ani .swiper-slide {padding-left:calc(26.5% + 40px);}
	
/* color_bg */
.air-purifier_202107 .slide_color_type .color_bg {padding-bottom:244px;}
.air-purifier_202107 .slide_color_type .color_bg:before {height:244px;}
	
/* color_name */
.air-purifier_202107 .slide_color_type .color_name dt {font-size:36px;line-height:42px;}
.air-purifier_202107 .slide_color_type .color_name dt em {margin-top:6px;font-size:20px;line-height:26px;}
.air-purifier_202107 .slide_color_type .color_name dd {margin-top:32px;font-size:24px;line-height:32px;}	
}






/*** Scene02_1 : 바람모드 ***/
.air-purifier_202107 .scene02_1 {margin-bottom:-15px;}
.air-purifier_202107 .scene02_1_txt {position:absolute;left:9vw;bottom:7vw;padding-left:10px;color:#55504b;font-size:12px;font-weight:500;line-height:17px;}
.air-purifier_202107 .scene02_1_txt:before {position:absolute;left:0;top:6px;width:7px;height:7px;background:#fff;border:2px solid #da0f47;border-radius:50%;box-sizing:border-box;content:"";}

/* Active */
.air-purifier_202107 .box.animate .scene02_1_txt {transform:translateY(50px);opacity:0;transition:transform 0.3s 0s, opacity 0.3s 0s;}
.air-purifier_202107 .box.active .scene02_1_txt {transform:translateY(0%);opacity:1;transition:transform 0.4s 0.3s, opacity 0.8s 0.3s;}





/*** Scene02_2 : 청정모드 ***/
.air-purifier_202107 .scene02_2 {margin-bottom:-15px;}
.air-purifier_202107 .scene02_2_txt {position:absolute;right:7.7vw;bottom:7vw;padding-left:10px;color:#55504b;font-size:12px;font-weight:500;line-height:17px;}
.air-purifier_202107 .scene02_2_txt:before {position:absolute;left:0;top:6px;width:7px;height:7px;background:#fff;border:2px solid #da0f47;border-radius:50%;box-sizing:border-box;content:"";}

/* Active */
.air-purifier_202107 .box.animate .scene02_2_txt {transform:translateY(50px);opacity:0;transition:transform 0.3s 0s, opacity 0.3s 0s;}
.air-purifier_202107 .box.active .scene02_2_txt {transform:translateY(0%);opacity:1;transition:transform 0.4s 0.3s, opacity 0.8s 0.3s;}





/*** Scene03_2 : 트루 토탈케어 필터 ***/
.air-purifier_202107 .scene03_2_ani {display:flex;flex-wrap:nowrap;position:relative;margin:0 -25px;padding:0 2vw 40px 3.5vw;background:#f7f7f7;}
.air-purifier_202107 .scene03_2_ani > li {position:relative;width:33.3%;vertical-align:top;}
.air-purifier_202107 .scene03_2_ani dl {position:relative;padding:0 4vw;text-align:left;}
.air-purifier_202107 .scene03_2_ani dl:after {position:absolute;right:0;top:47px;width:1px;height:25px;background:#ca1346;opacity:0.2;content:"";}
.air-purifier_202107 .scene03_2_ani dt {width:77px;height:17px;color:#fff;font-size:10px;font-weight:700;}
.air-purifier_202107 .scene03_2_ani dt span {display:block;width:154px;height:34px;background-color:#ca1346;border-radius:16px;font-size:17px;line-height:34px;text-align:center;letter-spacing:4px;transform:scale(0.5);transform-origin:left top;}
.air-purifier_202107 .scene03_2_ani dd {margin-top:10px;}
.air-purifier_202107 .scene03_2_ani dd li {position:relative;margin-top:6px;padding-left:7px;color:#555;font-size:12px;line-height:17px;letter-spacing:-0.8px;}
.air-purifier_202107 .scene03_2_ani dd li:before {position:absolute;left:1px;top:7px;width:2px;height:2px;background-color:#ca1346;transform:rotate(45deg);content:"";}
.air-purifier_202107 .scene03_2_ani dd li:first-child {margin-top:0;}
.air-purifier_202107 .scene03_2_ani > li:last-child dl {padding-right:0;}
.air-purifier_202107 .scene03_2_ani > li:last-child dl:after {display:none;}

/* Active */
.air-purifier_202107 .box.animate .scene03_2_ani {transform:translateY(50px);opacity:0;transition:transform 0.3s 0s, opacity 0.3s 0s;}
.air-purifier_202107 .box.active .scene03_2_ani {transform:translateY(0%);opacity:1;transition:transform 0.4s 0.3s, opacity 0.8s 0.3s;}










/*** Animation ***/
@keyframes fade {
0% {opacity:0;}
100% {opacity:1;}
}
@keyframes txtTop {
0% {transform:translateY(110%);opacity:0;}
100% {transform:translateY(0%);opacity:1;}
}
@keyframes imgTop {
0% {transform:translateY(10%);opacity:0;}
100% {transform:translateY(0%);opacity:1;}
}
@keyframes imgLeft{
0% {transform:translateX(10%);opacity:0;}
100% {transform:translateX(0%);opacity:1;}
}
@keyframes scale {
0% {transform:scale(1.1);}
100% {transform:scale(1);}
}








